@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

body {
	padding: 0;
	margin: 0;
	font-family: Poppins;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-brand {
	text-decoration: none;
	color: #000;
	transition: 0.3s;
}

.nav-brand:hover {
	color: crimson;
}

.nav-items {
	display: flex;
	justify-content: space-between;
}

.nav-item {
	margin-left: 15px;
	text-decoration: none;
	color: #000;
	transition: 0.3s;
}

.nav-item:hover {
	color: crimson;
}

.active {
	color: crimson;
}

#home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line1 {
	width: 0;
	height: 210px;
	position: absolute;
	border-left: 5px solid crimson;
}

.line2 {
	width: 0;
	height: 20px;
	margin-top: -50px;
	position: absolute;
	border-left: 5px solid crimson;
}

.big-text {
	margin-left: 30px;
	font-size: 64px;
	line-height: 64px;
}

.thin-text {
	margin-left: 30px;

	font-weight: 400;
	font-size: 42px;
	margin-top: -50px;
}

.small-text {
	margin-left: 30px;

	color: darkgray;
	margin-top: -30px;
}

button {
	padding: 16px 32px;
	border-radius: 32px;
	border: none;
	margin-right: 5px;
}

.btn-menu {
	margin-left: 30px;
	background-color: crimson;
	color: #fff;
	transition: 0.3s;
}

.btn-menu:hover {
	background-color: rgb(184, 17, 51);
	cursor: pointer;
}

.btn-book {
	background-color: whitesmoke;
	transition: 0.3s;
}

.btn-book:hover {
	background-color: rgb(218, 211, 211);
	cursor: pointer;
}

#footer {
	margin-top: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dinner {
	margin-left: 25px;
}

.dinner-time {
	margin-top: -20px;
}

.sci {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li {
	list-style-type: none;
}

.sci li a {
	display: inline-block;
	margin-left: 15px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.sci li a:hover {
	background: crimson;
	transform: translateY(-10px);
}

.sci li a img {
	filter: invert(1);
	transform: scale(0.5);
}

#search,
#card {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 100%;
}

.keyword {
	margin-top: 20px;
	width: 100%;
	padding: 15px;
	color: #6e707e;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d1d3e2;
	border-radius: 20px;
}

.keyword:focus {
	color: #6e707e;
	background-color: #fff;
	border-color: #bac8f3;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	row-gap: 80px;
	margin: 80px AUTO;
	max-width: 1200px;
}

.card-body {
	display: inline-block;
	border-radius: 20px;
	background: white;
	position: relative;
	text-align: center;
	padding: 0 20px 30px 20px;
	transition: 0.3s all ease-in-out;
	box-shadow: -2px 2px 25px 0px rgba(0, 0, 0, 0.3);
}

.image-cropper img {
	width: 80%;
	height: 80%;
	margin: -50px auto 0px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	overflow: hidden;
	border-radius: 50%;
}

.menu-nama {
	margin: 0px;
}
